%div{class: 'w-4/6 mx-auto'}


  %section#alerts.mb-12
    %h1.h1.mb-3 Alerts
    %p.mb-6.text-md Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.

    .card
      .card-body
        hello
      .card-footer
        Code goes in here

  
  %section#typography.mb-12
    %h1.h1.mb-3 Typography
    %p.mb-6.text-md Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.

    .card
      .card-body
        %h1.text-huge.mb-3 Huge Heading

        %h1.h1.mb-3 h1. RapidRails Heading
        %h2.h2.mb-3 h2. RapidRails Heading
        %h3.h3.mb-3 h3. RapidRails Heading
        %h4.h4.mb-3 h4. RapidRails Heading
        %h5.h5.mb-3 h5. RapidRails Heading
        %h6.h6.mb-6 h6. RapidRails Heading
        
        %p.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %p.text-muted.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.

        = link_to "Link example", '#', class: "link"

  %section#buttons.mb-12
    %h1.h1.mb-3 Buttons & Links
    %p.mb-6.text-md Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.

    .card
      .card-body
        = link_to "Button Primary", '#', class: "btn btn-primary"
        = link_to "Button Secondary", '#', class: "btn btn-secondary"
        
        .mb-6 

        = link_to "Link", '#', class: "link"
        = link_to "Link hover", '#', class: "link-hover ml-6"

  %section#forms.mb-12
    %h1.h1.mb-3 Forms
    %p.mb-6.text-md Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.

    .card
      = form_for :something, method: :post, builder: TailwindFormBuilder do |f|
        .card-header
          %h4.h4 Sample Form
        .card-body.space-y-6
          -# example of all kind of fields
          = f.email_field :email, autocomplete: 'email', placeholder: "Your email address", label: "Email Field", required: true, hint: "This is a hint. Give helpful information here."
          = f.password_field :password, autocomplete: 'current-password', placeholder: "Your password", required: true, error: "This is an error message. Manually set or with model validation."
          = f.text_field :text, placeholder: "Your text", required: true, disabled: true
          = f.text_area :text_area, placeholder: "Your text area", required: true, hint: "This is a hint. Give helpful information here."

          = f.select :select, options_for_select([['Option 1', 1], ['Option 2', 2], ['Option 3', 3]]), {hint: "This is a hint. Give helpful information here.", prompt: "Select something..."}, {required: true}

          = f.select :select_2, options_for_select([['Option 1', 1], ['Option 2', 2], ['Option 3', 3]]), {}, {disabled: true}

          .flex.items-center
            .flex-1
              = f.check_box :check_box_1, label: "Check me out", required: true
            .flex-1
              = f.check_box :check_box_2, label: "and me!", required: true, error: true
            .flex-1
              = f.check_box :check_box_3, label: "but not me...", disabled: true

          .flex.items-center
            .flex-1
              = f.radio_button :radio_button_test, 1, label: "Apple"

            .flex-1
              = f.radio_button :radio_button_test, 2, label: "Banana", disabled: true
            
            .flex-1
              = f.radio_button :radio_button_test, 3, label: "Orange", error: true


          = f.file_field :file_field, accept: 'image/png,image/jpeg,image/gif', required: true, hint: "Only image files are allowed."


        .card-footer.text-right
          = f.button "Submit", data: {'turbo-disable-with': "Submitting..."}


