:ruby 
  title "Edit Account"
  
%h1.h1 Your Account

.py-10
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Profile
      %p.mt-1.p This information will be displayed publicly so be careful what you share.

    .card.md:col-span-2
      = form_with(model: resource, as: resource_name, url: registration_path(resource_name), builder: RapidRailsFormBuilder, method: :put) do |f|
        .card-body
          .space-y-6
            .grid.grid-cols-10.gap-6.items-center
              .col-span-2
                = image_tag @user.avatar_url, class:  "rounded-full h-16 w-16 col-span-2"
              .col-span-8
                = f.file_field :profile_picture, accept: "image/png, image/jpg, image/jpeg", hint: "png, jpg or jpeg image formats. Max file size 5MB.", label: {text: "Change Profile Picture"}
           
            = f.text_field :full_name, autocomplete: "name", placeholder: "John Doe", required: true
            
            = f.email_field :email, autocomplete: "email", placeholder: "you@example.com", required: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              .bg-yellow-50.p-4.rounded-md.mb-2{class: "dark:bg-black border card-border"}
                %p.text-sm.text-yellow-800{class: 'dark:text-white'}
                  Email change pending. Check your inbox for an email to confirm your new email address: 

                  = succeed '.' do
                    %strong #{resource.unconfirmed_email}

                  = succeed '.' do
                    = link_to "Cancel email change", cancel_email_change_path, data: {'turbo-method': :post}, class: "link"
      
        .card-footer.text-right
          = f.button "Save", class: "btn-primary"

.py-10
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Password
      %p.mt-1.p This information will be displayed publicly so be careful what you share.

    .card.md:col-span-2
      = form_with(model: resource, as: resource_name, url: registration_path(resource_name), builder: RapidRailsFormBuilder, method: :put) do |f|
        .card-body
          .space-y-6

            :ruby
              password_hint = "Leave blank if you don't want to change it."
              password_hint << " #{@minimum_password_length} characters minimum." if @minimum_password_length

            = f.password_field :password, placeholder: "Your new password", autocomplete: "new-password", required: true, hint: password_hint

            = f.password_field :password_confirmation, placeholder: "Confirm new password", autocomplete: "new-password", required: true
            = f.password_field :current_password, placeholder: "Your current password", autocomplete: "current-password", required: true

        .card-footer.text-right
          = f.button "Update password", class: "btn-primary"

.py-10
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Delete Account
      %p.mt-1.p Danger zone! Once you delete you account, there is no going back.

    .card.md:col-span-2
      .card-body{"x-data" => "{ button: true, open: false }"}
        .space-y-6
          %div{ "x-show" => "button" }
            .text-sm.text-neutral-500.mb-2 Delete your account. This action cannot be undone and all your data will be deleted from our system.
            %button{ class: 'text-danger text-sm mr-6', method: :delete, "x-on:click" => "open = ! open; button = ! button" } Delete Account
        = form_for(resource, as: resource_name, url: registration_path(resource_name), builder: RapidRailsFormBuilder, html: { method: :delete }) do |f|
          .text-black{"x-show" => "open"}
            %p You are about to delete your account! This action can not be undone and all your data will be deleted from our system.
            %br
            %p.mb-6
              We are sorry to see you go #{@user.full_name}, if there was one thing that you could change about our service, what would that be? 
              This feedback is critical to our continued improvement. Thanks so much!

              .space-y-6
                = f.password_field :current_password, placeholder: "Your current password", autocomplete: "current-password", required: true
                = f.text_field :feedback, placeholder: "Please tell us why you are cancelling. Any kind of feedback is appreciated and helpful to us.", autocomplete: 'no'

                .text-right
                  = f.button 'Delete Account Now', class: 'btn-danger', method: :delete
