:ruby 
  title "Edit Account"
  
%h1.h1 Your Account

.py-10
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Profile
      %p.mt-1.p Update your account's profile information and email address.

    .card.md:col-span-2
      = form_with(model: resource, as: resource_name, url: registration_path(resource_name), builder: RapidRailsFormBuilder, method: :put) do |f|
        .card-body
          .space-y-6
            .grid.grid-cols-10.gap-6.items-center
              .col-span-2
                = image_tag @user.avatar_url, class:  "rounded-full h-16 w-16 col-span-2"
              .col-span-8
                = f.file_field :profile_picture, accept: "image/png, image/jpg, image/jpeg", hint: "png, jpg or jpeg image formats. Max file size 5MB.", label: {text: "Change Profile Picture"}
           
            = f.text_field :full_name, autocomplete: "name", placeholder: "John Doe", required: true
            
            = f.email_field :email, autocomplete: "email", placeholder: "you@example.com", required: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              = render AlertComponent.new(type: :warning, message: "Email change pending", dismissable: false) do |a|
                = a.body do
                  Check your inbox for an email to confirm your new email address: 
                  = succeed '.' do
                    %em.font-medium #{resource.unconfirmed_email}
                  
                  = succeed '.' do
                    = link_to "Cancel email change", cancel_email_change_path, data: {'turbo-method': :post}, class: "link"
      
        .card-footer.text-right
          = f.button "Save", class: "btn-primary"

.py-10
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Change Password
      %p.mt-1.p Ensure your account password is using a long, random password to stay secure.

    .card.md:col-span-2
      = form_with(model: resource, as: resource_name, url: registration_path(resource_name), builder: RapidRailsFormBuilder, method: :put) do |f|
        .card-body
          .space-y-6
            = render 'devise/passwords/new_password_fields', f: f

            = f.password_field :current_password, placeholder: "Your current password", autocomplete: "current-password", required: true

        .card-footer.text-right
          = f.button "Update password", class: "btn-primary"

.py-10#delete-account
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Delete Account
      %p.mt-1.p Danger zone! Once you delete you account, there is no going back.

    .card.md:col-span-2{"x-data": "{ open: false }"}
      .card-body{"x-show": "!open"}
        %p.p.mb-6 You are about to delete your account! This action cannot be undone and all your data will be deleted from our system. Are you sure you want to proceed?
        %button{class: 'btn-danger', method: :delete, "@click": "open = true"} Delete Account

      %div{"x-show": "open", style: "display: none"}
        = form_for(resource, as: resource_name, url: registration_path(resource_name), builder: RapidRailsFormBuilder, html: { method: :delete, autocomplete: "off", data: { controller: "auto-save", auto_save_target: "form", action: "change->auto-save#saveToLocalStorage", auto_save_key_prefix_value: current_user.hashid } }) do |f|
          .card-body.space-y-6
            = render AlertComponent.new(type: :danger, message: "You are about to delete your account!", dismissable: false) { |a| a.body { "This action can not be undone and all your data will be deleted from our system." } }

            %p.p
              We are sorry to see you go #{@user.first_name}! 
              If there was one thing that you could change about our service, what would that be? 
              This feedback is critical to our continued improvement.
            
            = f.password_field :current_password, placeholder: "Your current password", autocomplete: "off", required: true, id: 'delete_account_password'

            = f.fields_for :user_account_feedbacks, resource.user_account_feedbacks.build do |u|
              = u.text_area :feedback, placeholder: "Please tell us why you are cancelling. Any kind of feedback is appreciated and helpful to us.", rows: 4

          .card-footer.text-right
            = f.button 'Delete Account Now', class: 'btn-danger', method: :delete, data: { turbo_confirm: 'Are you sure you want to delete your account?' }
