:ruby 
  title "Edit Account"
  
%h1.h1 Your Account

.py-10
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Profile
      %p.mt-1.p This information will be displayed publicly so be careful what you share.

    .card.md:col-span-2
      = form_with(model: resource, as: resource_name, url: registration_path(resource_name), builder: TailwindFormBuilder, method: :put) do |f|
        .card-body
          .space-y-6
            .grid.grid-cols-10.gap-6.items-center
              .col-span-2
                = image_tag @user.avatar_url, class:  "rounded-full h-16 w-16 col-span-2"
              .col-span-8
                = f.file_field :profile_picture, accept: "image/png, image/jpg, image/jpeg", hint: "png, jpg or jpeg image formats. Max file size 5MB.", label: {text: "Change Profile Picture"}
           
            = f.text_field :full_name, autocomplete: "name", placeholder: "John Doe", required: true
            
            = f.email_field :email, autocomplete: "email", placeholder: "you@example.com", required: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              = render 'shared/flash', notice: "Currently waiting confirmation for: #{resource.unconfirmed_email}", close: false
        
        .card-footer.text-right
          = f.button "Save", class: "btn-primary"

.py-10
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Password
      %p.mt-1.p This information will be displayed publicly so be careful what you share.

    .card.md:col-span-2
      = form_with(model: resource, as: resource_name, url: registration_path(resource_name), builder: TailwindFormBuilder, method: :put) do |f|
        .card-body
          .space-y-6

            :ruby
              password_hint = "Leave blank if you don't want to change it."
              password_hint << " #{@minimum_password_length} characters minimum." if @minimum_password_length

            = f.password_field :password, placeholder: "Your new password", autocomplete: "new-password", required: true, hint: password_hint

            = f.password_field :password_confirmation, placeholder: "Confirm new password", autocomplete: "new-password", required: true
            = f.password_field :current_password, placeholder: "Your current password", autocomplete: "current-password", required: true

        .card-footer.text-right
          = f.button "Update password", class: "btn-primary"

.py-10
  .grid.grid-cols-1.gap-x-8.gap-y-8.md:grid-cols-3
    %div
      %h3.h3 Delete Account
      %p.mt-1.p Danger zone! Once you delete you account, there is no going back.

    .card.md:col-span-2
      .card-body
        .space-y-6
          = button_to "Delete Account", registration_path(resource_name), {data: { turbo_confirm: "Are you sure?" }, class: 'text-danger text-sm mr-6', method: :delete}
