%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource

  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autocomplete: "first_name", autofocus: true, required: true

  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name, autocomplete: "last_name", required: true

  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: false, autocomplete: "email", required: true
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password", required: true
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", required: true
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
