:ruby 
  title "Change password"

.text-center
  %h1.h1.mt-6 Reset your password
  %p.mt-2.text-sm
    Or
    #{link_to "sign in to your account", new_user_session_path, class: "font-medium link"}
    

.mt-8.card
  .card-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), builder: RapidRailsFormBuilder, html: {method: :put, class: 'space-y-6 -mt-6'}) do |f|
      = render FormErrorsComponent.new(resource)
      = f.hidden_field :reset_password_token

      = render 'devise/passwords/new_password_fields', f: f

      = f.button "Change my password", class: "w-full btn-primary"

  
