:ruby 
  title "Reset password"
.text-center
  %h1.h1.mt-6 Reset your password
  %p.mt-2.text-sm
    Or
    #{link_to "sign in to your account", new_user_session_path, class: "font-medium link"}
    

.mt-8.card
  .card-header
    %p.text-sm
      Enter the email address associated with your account and we'll send you a link to reset your password.
  
  .card-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), builder: RapidRailsFormBuilder, html: {method: :post, class: 'space-y-6 -mt-6'}) do |f|
      = render FormErrorsComponent.new(resource)

      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your email address", autofocus: true
      = f.button "Send password reset email", class: "w-full btn-primary"

  
