:ruby
  rounded = true if rounded.nil?

  success ||= flash[:success]
  notice ||= flash[:notice]
  alert ||= flash[:alert]
  error ||= flash[:error]

- if success
  .bg-green-50.p-4{class: "#{'rounded-md' if rounded}"}
    .flex
      .flex-shrink-0
        = heroicon 'check-circle', variant: 'solid', options: {class: 'h-5 w-5 text-green-400'}
      .ml-3
        %h3.text-sm.font-medium.text-green-800
          = sanitize success


- if notice
  .bg-yellow-50.p-4{class: "#{'rounded-md' if rounded}"}
    .flex
      .flex-shrink-0
        = heroicon 'exclamation-circle', variant: 'solid', options: {class: 'h-5 w-5 text-yellow-400'}
      .ml-3
        %h3.text-sm.font-medium.text-yellow-800
          = sanitize notice


- [alert, error].each do |type|
  - next unless type
  .bg-red-50.text-red-800.p-4{class: "dark:bg-red-900 dark:text-white #{'rounded-md' if rounded}"}
    .flex
      .flex-shrink-0
        = heroicon 'x-circle', variant: 'solid', options: {class: 'h-5 w-5 text-red-400'}
      .ml-3
        %h3.text-sm.font-medium
          = sanitize type