:ruby
  # TODO: make into a component
  # add close icon with alpine JS to dismiss the alert

  success ||= flash[:success]
  notice ||= flash[:notice]
  alert ||= flash[:alert]
  error ||= flash[:error]

  close = true if close.nil?

- if success
  .alert-success
    = heroicon 'check-circle', variant: 'solid', options: {class: 'icon'}
    %div= sanitize success


- if notice  
  .alert-warning
    = heroicon 'exclamation-circle', variant: 'solid', options: {class: 'icon'}
    %div= sanitize notice


- [alert, error].each do |type|
  - next unless type
  .alert-danger
    = heroicon 'x-circle', variant: 'solid', options: {class: 'icon'}
    %div= sanitize type