- content_for :page_title, 'Blog'

.container.pb-7
  .row.justify-content-center
    .col-lg-8

      #blog-title.text-center.my-6
        %h1.h1
          Blog
        %p.text-secondary Tips for healthy eating, weight loss, fitness & more!

      - @posts.each_with_index do |post, index|
        - link = blog_path(post.slug)

        .card
          = link_to link do
            = image_tag post.featured_image.url, class: 'card-img-top'
          .card-body
            %h2.display-5.mb-2 #{link_to post.title, link}
            %small.text-muted #{post.published_at.to_time.strftime('%B %d, %Y')}

            %p.mt-3.text-secondary #{post.excerpt}

            = link_to link do
              Continue reading
              %i.fe.fe-arrow-right.ms-1
      
      
      - unless @posts.total == @posts.count
        #pagination.row.mt-6
          .col
            - if @page > 1
              = link_to blog_index_path(page: @page - 1) do
                %i.fe.fe-arrow-left
                Previous Page

          .col.text-end
            - if @posts.total > (@posts.limit * @page)
              = link_to blog_index_path(page: @page + 1) do
                Next Page
                %i.fe.fe-arrow-right