%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}

= display_meta_tags site: APP_NAME

= csrf_meta_tags
= csp_meta_tag

= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
= stylesheet_link_tag "application", "data-turbo-track": "reload"

= javascript_importmap_tags


- if Rails.env.production?  || true

  %div
    hiii
  -# JS Error Tracking 
  %script{crossorigin: "anonymous", integrity: "sha384-davt05dZyy9wSVcYU+nxmOaNugUmN7v0WYFUlbE6d6kVDbYxqWKzJXY7ZM04YbJf", src: "https://browser.sentry-cdn.com/7.8.0/bundle.tracing.min.js"}

  :javascript
    Sentry.init({
      dsn: "#{SENTRY_DSN_JS}",
      integrations: [new Sentry.BrowserTracing()],
      tracesSampleRate: 0.25,
    });