%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}

= display_meta_tags site: APP_NAME

= csrf_meta_tags
= csp_meta_tag

= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
= stylesheet_link_tag "application", "data-turbo-track": "reload"

= javascript_importmap_tags