#top-bar.pb-14
  .border-b.card-border.shrink-0{class: 'fixed inset-x-0 top-0 z-40 flex h-14 items-center justify-between gap-12 px-4 transition-all sm:px-6 lg:left-72 lg:z-30 lg:px-8 backdrop-blur-sm dark:backdrop-blur lg:left-72 bg-white/[var(--bg-opacity-light)] dark:bg-zinc-900/[var(--bg-opacity-dark)]', style: "--bg-opacity-light: 0.9; --bg-opacity-dark: 0.8;"}
    %button.text-neutral-700.dark:text-slate-400.lg:hidden{:class => "-m-2.5 p-2.5", :type => "button", "@click": "sidebarOpen = !sidebarOpen"}
      %span.sr-only Open sidebar
      %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
        %path{:d => "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
    
    / Separator
    %div{class: 'md:h-5 md:w-px md:bg-zinc-900/10 md:dark:bg-neutral-700 lg:hidden'}

    .flex.flex-1.gap-x-4.self-stretch.lg:gap-x-6.items-center
      .relative.flex.flex-1
        .hidden.max-w-lg.flex-auto.lg:block
          %button.h-8.w-full.items-center.gap-2.rounded-full.bg-white.pl-2.pr-3.text-sm.text-zinc-500.ring-1.transition.dark:text-zinc-400.dark:ring-inset.flex{class: "ring-zinc-900/10 hover:ring-zinc-900/20 dark:bg-white/5 dark:ring-white/10 dark:hover:ring-white/20 focus:[&:not(:focus-visible)]:outline-none", type: "button"}
            %svg.h-5.w-5.stroke-current{"aria-hidden" => "true", fill: "none", viewbox: "0 0 20 20"}>
              %path{d: "M12.01 12a4.25 4.25 0 1 0-6.02-6 4.25 4.25 0 0 0 6.02 6Zm0 0 3.24 3.25", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            Find something...
            %div.ml-auto.text-2xs.text-zinc-400.dark:text-zinc-500.tracking-tighter
              %span.font-sans ⌘
              %span.font-sans K


      .flex.items-center.gap-x-4.lg:gap-x-6

        / Separator
        %div{class: 'md:h-5 md:w-px md:bg-zinc-900/10 md:dark:bg-neutral-700'}

        
        %div{class: 'flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-zinc-900/5 dark:hover:bg-white/5'}
          %button.text-neutral-400.hover:text-neutral-500{:class => "-m-2.5 p-2.5", :type => "button"}
            %span.sr-only View notifications
            %svg.h-5.w-5{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
              %path{:d => "M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0", "stroke-linecap" => "round", "stroke-linejoin" => "round"}


        %div{class: 'flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-zinc-900/5 dark:hover:bg-white/5'}
          = render DarkModeButtonComponent.new
        
        / Profile dropdown
        .relative{"x-data": "{ dropdownOpen: false }"}
          %button#user-menu-button.flex.items-center{"aria-expanded" => "false", "aria-haspopup" => "true", :class => "-m-1.5 p-1.5", :type => "button", "@click": "dropdownOpen = !dropdownOpen"}
            %span.sr-only Open user menu
            = image_tag current_user.avatar_url, class: "h-8 w-8 rounded-full bg-neutral-50", alt: ""
            %span.hidden.lg:flex.lg:items-center
              %span.ml-4.text-sm.font-semibold.leading-6.text-neutral-900.dark:text-white{"aria-hidden" => "true"} #{current_user.first_name.capitalize.truncate(20)}
              %svg.ml-2.h-5.w-5.text-neutral-400{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20"}
                %path{"clip-rule" => "evenodd", :d => "M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", "fill-rule" => "evenodd"}
          /
            Dropdown menu, show/hide based on menu state.
          .absolute.right-0.z-10.w-64.origin-top-right.card.shadow-lg{"aria-labelledby" => "user-menu-button", "aria-orientation" => "vertical", :class => "mt-4 ring-neutral-900/5", :role => "menu", :tabindex => "-1", "x-show": "dropdownOpen", "@click.away": "dropdownOpen = false", "x-transition:enter": "ease-out duration-100", "x-transition:enter-start": "transform opacity-0 scale-95", "x-transition:enter-end": "transform opacity-100 scale-100", "x-transition:leave": "transition ease-in duration-75", "x-transition:leave-start": "transform opacity-100 scale-100", "x-transition:leave-end": "transform opacity-0 scale-95", style: "display: none"}
            .py-2.px-3.mb-1.border-b.card-border
              .text-xs.text-neutral-500 Signed in as
              .text-sm.font-semibold.leading-6.text-neutral-900.dark:text-white.truncate{"aria-hidden" => "true"} #{current_user.email}
            = link_to "Changelog", '#', class: "block px-3 py-1 text-sm leading-6 hover:bg-neutral-50 dark:hover:bg-body-dark"
            = link_to "Support", '#', class: "block px-3 py-1 text-sm leading-6 hover:bg-neutral-50 dark:hover:bg-body-dark"
            = link_to "License", '#', class: "block px-3 py-1 text-sm leading-6 hover:bg-neutral-50 dark:hover:bg-body-dark"
            .border-b.card-border.mt-1.mb-1
            = link_to "Upgrade to Team License", '#', class: "block px-3 py-2 text-sm leading-6 hover:bg-neutral-50 dark:hover:bg-body-dark"
            .border-b.card-border.mt-1.mb-1
            = link_to "Account Settings", edit_user_registration_path, class: "block px-3 py-1 text-sm leading-6 hover:bg-neutral-50 dark:hover:bg-body-dark"
            = link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-3 py-1 text-sm leading-6 hover:bg-neutral-50 dark:hover:bg-body-dark"

- if flash.any?
  .lg:pl-72
    .p-4.sm:p-6.lg:p-8.pb-0.sm:pb-0.lg:pb-0
      = render "shared/flash", rounded: false