%p
  Hey #{@resource.first_name},

- if @resource.try(:unconfirmed_email?)
  %p
    Just a quick heads up! We wanted to give you a heads up that your #{APP_NAME} account email is being changed to 
    = succeed '.' do
      %strong #{@resource.unconfirmed_email}

  - content_for :preheader do
    Your #{APP_NAME} account email is being changed.
    
- else
  %p
    Just a quick heads up! We wanted to give you a heads up that your #{APP_NAME} account email has been changed to 
    = succeed '.' do
      %strong #{@resource.email}
  
  - content_for :preheader do
    Your #{APP_NAME} account email has been changed.

%p
  If this change wasn't requested by you, please hit us up right away. We'll get things sorted out in a jiffy!

%p
  Thanks a bunch,
  %br
  The #{APP_NAME} Team