- content_for :preheader do
  Your #{APP_NAME} account password has been changed.

%p Hey #{@resource.email_name_greeting},

%p 
  We wanted to give you a heads up that your #{APP_NAME} account password has been changed. 
  Don't worry, it's all good! Just wanted to keep you in the loop.

%p 
  If this change wasn't made by you,
  = link_to 'reset your password', edit_password_url(@resource, reset_password_token: @token)
  or please reach out to us
  immediately.
  We'll jump right in and get things sorted out for you ASAP.

%p
  Take care,
  %br
The #{APP_NAME} Team