-  content_for :preheader do
  Change your password with the password reset link in this email.

%p Hey #{@resource.first_name},

%p 
  Someone 
  %em (hopefully you) 
  has requested to reset your #{APP_NAME} account password. 
  We're here to help you get that sorted out.

%p To reset your password, simply click on the link below:

= render 'layouts/mailer/cta_button', text: 'Change my password', url: edit_password_url(@resource, reset_password_token: @token)

%p 
  Once you click on the link, you'll be directed to a page where you can set up a new password. 
  Make sure to choose something secure!

%p 
  If you didn't request this password reset, you can safely ignore this email.
  Your password won't change until you access the link above and create a new one. 

%p Thank you for being part of #{APP_NAME}!

%p 
  Cheers,
  %br
  The #{APP_NAME} Team