!!!
%html.h-full{lang: "en", class: theme_class}
  %head
    = render "layouts/components/head"

  %body.app{"x-data": "{ sidebarOpen: false }"}
    = render "layouts/components/off_canvas_mobile_menu"
    = render 'layouts/components/desktop_sidebar'
    = render App::TopNavigationComponent.new(current_user: current_user)

    .lg:pl-72
      .py-10.px-4.sm:px-6.lg:px-8

        %div{class: ('sm:w-5/6 md:w-4/6 mx-auto' if @width == 'narrow')}
          - if flash.any?
            .pb-8
              = render FlashMessagesComponent.new(flash)

          %main= yield

    = render "layouts/components/footer_scripts"