!!!
%html.h-full{lang: "en", 'data-controller': 'dark-mode'}
  %head
    = render "layouts/components/head"

  %body.app{"x-data": "{ sidebarOpen: false }"}
    = render "layouts/components/off_canvas_mobile_menu"
    = render 'layouts/components/desktop_sidebar'
    = render 'layouts/components/top_bar'

    .lg:pl-72
      %main.py-10.px-4.sm:px-6.lg:px-8
        = yield

    = render "layouts/components/footer_scripts"