!!!
%html.h-full{lang: "en", class: theme_class}
  %head
    = render "layouts/components/head"

  %body{class: yield(:body_class)}
    = render LandingPage::HeaderComponent.new

    = yield
    
    = render "layouts/components/footer_scripts"
    = render LandingPage::FooterComponent.new
