!!!
%html.h-full{lang: "en", class: theme_class}
  %head
    = render 'layouts/components/head'

  %body.devise

    %div{class: "flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8 my-auto"}
      = link_to root_path, class: 'mx-auto' do
        = render 'layouts/components/logo', custom_class: "h-12"

      %div{class: "mt-2 sm:mx-auto sm:w-full sm:max-w-md px-6"}
        = yield

      .mx-auto.mt-12
        = render DarkModeButtonComponent.new

    = render 'layouts/components/footer_scripts'